$theme-color: #b1faff;
$theme-color-yolk: rgb(247, 229, 95);
$theme-color-yolk-clear: rgba(247, 229, 95, 0.4);
$theme-dark-grey: #222327;
$theme-dark-grey-clear:rgba(78, 81, 89, 0.7);
$font-stack: Courier, sans-serif;

$theme-tap-highlight-color: $theme-color-yolk-clear;
$theme-active-link-color: #472F9C;
$theme-problem-red: #FF2F4E;
$theme-gradient-start-color: rgb(230, 247, 255);
