// cards.scss

@import 'theme-colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*align-content: center;*/
}
.container * {
  box-sizing: border-box;
}
.card-container {
  width: 100%;
  min-height: 350px;
  max-width: 450px;
  /*width: 220px;*/
  padding: 16px;
  /*margin: 0 auto 0 auto;*/
  /*align-self: center;*/
  /*perspective: 12in;*/
}
.buttons {
  // TODO de-hack positioning/size and really flexbox them
  display: flex;
  align-items: center;
  button {
    font-family: $font-stack;
    font-size: 2em;
    padding: 0.25em 1em;
    min-height: 1em;
    margin: auto 0.25em;
    background-color: white;
    border: none;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
    transition-property: box-shadow, background-color;
    transition-duration: 0.2s;
    &:active {
      background-color: $theme-color-yolk;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    }
  }
}
.card {
  box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
  background: #fafafa;
  min-height: 250px;
  width: 280px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  /*box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1),
    0 0.5em 0 -0.25em #f2f2f2,
    0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1),
    0 1em 0 -0.5em #e5e5e5,
    0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);*/
}
/*All but the last card... pseudo  */
.card:nth-last-child(n+2) {
  transform: translate3d(0, 10px, -0.5in)x;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1),
    0 0.5em 0 -0.25em #f2f2f2,
    0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1),
    0 1em 0 -0.5em #e5e5e5,
    0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
/* Gah I want to use SASS here and style loaders */
// .card__title {
//   line-height: 1.1em;
//   margin: 0.25em auto 0 auto;
// }
.card__image {
  background-color: lightgrey;
  height: 250px;
  width: 100%;
}
.card__foot {
  width: 100%;
  padding: 0.75em;
  // font-size: 0.9em;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card:nth-last-child(n+3) {
  /*TODO fade this in*/
  display: none;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1300ms ease-in;
}

.example-appear {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}
