extends layout.pug

block styles
  link(rel="stylesheet" href="/cards.css" type='text/css')
block content
  <div class="content">
    <div id="root">hello this is html</div>
    <script src="/app.js"></script>
  </div>
  script(src='/app.js')
