$theme-color: #81E7EB;
$theme-dark-grey: #4e5159;
$theme-dark-grey-generic-RGB: #42464C;
$theme-dark-grey-clear:rgba(78, 81, 89, 0.6);
$theme-active-link-color: #472F9C;
$theme-problem-red: #FF2F4E;

html {
  min-height: 100%; //fill linear gradient
}
body {
  background-color: white;
  background: linear-gradient($theme-color, white 40em);
  margin: auto;
  max-width: 36em;
  padding: 0 1em;
  font: 1.1em/1.62em "Courier", "Courier-new", sans-serif, monospace;
  color: $theme-dark-grey;
  a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: $theme-active-link-color;
      text-decoration: none;
    }
  }
}
footer{
  ul {
    color: $theme-color;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0px;
    li {
      font-size: 0.8em;
    }
  }
}
nav {
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  margin-top: 1.75em;
  margin-bottom: 3.2em;
  @media (orientation: landscape) {
    margin-top: auto;
    margin-bottom: auto;
  }
  h1 {
    font-size: 1.75em;
    a:hover {
      text-decoration: none;
    }
    .huge {
      vertical-align: middle;
      font-size: 1.5em;
    }
  }
}
h1,h2,h3 {
  line-height: 1.1em;
  letter-spacing: -0.025em;
}
div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1,h2,h3 {
    font-size: 1.1em;
    font-weight: inherit;
  }
  input {
    -webkit-appearance: none; // iphone 4s http://stackoverflow.com/a/3078353
    font-family: inherit;
    min-height: 1.5em;
    font-size: 1em;
    background: transparent;
    border: none;
    border-radius: 0; // iphone 4s again GD, do I need a reset?
    padding: 0.25em;
    margin: 0.5em;
    color: inherit; // why do I need this, WTF is color: buttonext?
    &:focus {
      outline: none;
    }
    &[type=tel] {
      border-top: none;
      border-right: none;
      border-bottom: 0.15em solid $theme-color;
      border-left: none;
      &:focus {
        border-bottom: 0.15em solid $theme-dark-grey;
      }
    }
    &[type=submit] {
      text-transform: uppercase;
      &:focus {
        border-bottom: 0.15em solid $theme-dark-grey;
      }
    }
  }
  form.add-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      display: none; // TODO A11y
      visibility: hidden;
    }
    input {
      &::-webkit-input-placeholder { // TODO update this to ::placeholder
        color: $theme-dark-grey-clear;
      }
      &.invalid-form {
        border-bottom: 0.15em solid $theme-problem-red;
      }
    }
  }
}

@media (max-width: 640px) { //TODO make this go away, don't need it
  nav {
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-top: 0.5em;
    margin-bottom: 1em;
    ul {
      margin: inherit;
      text-align: center;
    }
  }
}

@media (min-width: 640px) {
  nav {
    h1 {
      font-size: 3em;
    }
  }
}
